* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* эта запись значит что маржин 0 отступ со всех сторон 
    а авто для левой и правой стороны автоматически распределяет отступ и передвигает элемент в кентру страницы
*/

}

.card {
    background: #f1f1f1;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.col {
    width: 25%;
    float: left;
    /* обтекание, чтобы каждая следующая колонка если она есть прижималась к соседей слева */
    /* так как сол это блочный элемент и все равно занимает все ширину доступную, 
    даже если больше ничего там нет, поэтому если хотим в строку то его поведение нао менять */
    padding: 0 10px;
    /* отступ сверху снизу 0 а справа слева по 10 */

}

.row::after {
    content: '';
    clear: both;
    display: table;
    /* это для того чтобы отменить свойство флоат, те больше не вырывать из потока остальные карточки */
    /* афте говорит о том, что идет после строки, применяем к нему */
    /* надо создать контент и оставить его пустым */
    /* далее очистить обтекание, и использовать дисплей   */
    /* и теперь если мы добавим 5 карточку то она будет универсальной и будет по всему экрану снова */
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        /* это для того чтобы когда контейнер достигнет макс размера 1200 он больше не вылезал за границы */
    }

    .col {
        width: 50%;
        /* а это чтобы размелить пополам карточки на странице в 2 ряда */
        margin-bottom: 20px;
        /* когда будет работать адаптация чтобы карточки не склеивались */
    }


@media screen and (max-width: 768px) {
.container {
    width: 100%;
    /* чтобы не уползали карточки надо изменить фиксирвоанную ширину контейнера на 100% от текущего размера */
}

.col {
    width: 100%;
    display: block;
    /* пишем медиа запрос для экранов с шириной до 768 */
    /* чтобы при увеличении они выстраивались в колонку а не строку (карточки) */
    /* для этого надо изменить ширину с 25% на 100 и сделать блочным элементом а не строчным  */

}

}
}