* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* сброс отступов и разметки бордер бокс боксовая модель по другому считать ширину */
}

.navbar {
    background:  #222;
    padding: 15px 10px;
    position: fixed;
    /* прижали шапку с навигацией кверху теперь она всегда будет ездить за скролом*/
    width: 100%;
    /* растянули на всю ширину страницы */
    top: 0;
    /* bottom: 0; */
    /* снизу */
    /* left: 0; */
    /* width: 100px; */
    /* height: 100%; */
    /* теперь оно слева высота нужна 100% чтобы сделать его вертикальным */
}

.navbar ul {
    list-style: none;
    /* отключить точки у списка */
}

.navbar ul li {
    display: inline-block;
    /* сделали блочные элементы строчными к таким элементам можно применить отступы */
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    /* убрали подчеркивание */
}

a:hover {
    border-bottom: 1px solid #ddd;
}

main {
   padding-top:  70px;
    /* отступ чтобы шапка не наползадла на контент */
}