*, *::after
*::before {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

body,
h1,h2,h3,h4,h5,h6,
p,
ul[class],ol[class],
li {
    margin: 0;

}

body {
    min-height: 100vh;
    line-height: 1.5;
    /* межстрочный нтервал */
    scroll-behavior: smooth;
    /* переход по ссылке якорям */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    /* изобрежение никогда не выйдет за рамки родит элемента и будет занимать все ширину */
    /* авто высота чтобы не менялись пропорции */
/* изображение строчное по умолчанию делаем его блочным */
    
}
a {
    text-decoration-skip-ink: auto;
    /* сбросить оформление ссылок до дефолтного на всей странцие */
    text-decoration: none;
    /* убрали нижнее подчеркивание у ссылки */
    color: inherit;
    /* наследуется цвет от родителя */
    cursor: pointer;
    /* поставили по умолчанию для всех ссылок курсор палец при наведении */
}

input,
button,
textarea,
select {
    font: inherit;
    /* все элементы наследуют от родителя те все оинаковые по умолчанию  */
}

article > * + * {
    margin-top:  1em;
}
/* семантический тег статья (новости, заголовок, публикация, кнопки) */
/* чтобы не слипались они все в кучу пишем  */
/* что мы обращаемся к статье у нее есть дочерний элемент и рядом с ним тоже что то есть и для него */
/* пишем свойство отступа сверху  */

