.product-box {
    margin-bottom: 128px;
}

.swiper {
    &__slide {
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        background-color: #F7F7F7;
    }
}

.head {
    background-color: #F8F3F4;
    min-height: 148px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    &__heading {
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 24px;
        color: $colorSelectSite;
    }
}

.breadcrumb {
    display: flex;

    &__box-link:last-child .breadcrumb__link {
        font-weight: 700;
        color : $colorSelectSite;
    }

    &__box-link:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;

    &:hover {
            color: $colorSelectSite;
        }
            
    }
}
.offer {
    background-color: $backLightColor;
    border: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: $widthSite;
    margin: -65px auto 129px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__subtitle {
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }
    &__line {
        border-bottom: 3px solid $colorSelectSite;
        margin-bottom: 12px;
        width: 63px;
    }
    &__heading {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        
    }
    &__text {
        margin-top: 48px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-left: 292px;
        padding-right: 294px;
        margin-bottom: 32px;
    }
    &__price {
        color: $colorSelectSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }
    &__line-big {
        border: 0.1px solid #EAEAEA;
        width: 641px;
        margin-bottom: 65px;
    }
    .sort {
        gap: 23px;
        display: flex;
        margin-bottom: 48px;

        &__summary {
            display: flex;
            gap: 9px;
            list-style: none;
            align-items: center;
        }
        &__heading {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__content {
            background-color: $backLightColor;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 30px 11px 9px;
            display: flex;
            flex-direction: column;

        }
        &__label {
            display: flex;
            gap: 9px;
            align-items: center;
        }
    }
    
    .add-button {
        display: flex;
        gap: 23px;
        align-items: center;
        border: 1px solid $colorSelectSite;
        width: 212px;
        height: 48px;
        padding-left: 24px;
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
    .add-button:hover {
            background-color: $colorSelectSite;
            transition: all 0.2s;
            color:$backLightColor ;
        }
    .add-button:hover svg path {
        fill: $backLightColor;
        transition: all 0.2s;
    }
              

}

@media (max-width:1024px) {
    
    .swiper-img {
        width: 466px;
    }
    .offer {
        padding: 64px 107px;
        &__text {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .none {
        display: none;
    }
}

@media (max-width:767px) {

}