* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif; 
    /* background: #E5E5E5; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); 
}

.top {
    position: relative;
    overflow: hidden;
  }
.header {
    background: #222222;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    align-items: center;
}
.promo__img {
    width: 50%;
}
.promo__content {
    padding-left: 64px;
}

.promo__info {
   
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    
}

.promo__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;

}
.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 64px;
    margin-bottom: 96px;

}
.sale__item {
    position: relative;

}
.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sale__item_big {
    grid-column: span 3;
    min-height: 180px;
}

.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
.product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}
.product-box__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    

}
.product {

}
.product__img {
    width: 100%;
}

.product__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    
}

.product__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.product__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #F8F8F8;
    justify-content: center;
    align-items: flex-start;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    margin-bottom: 60px;
    margin-top: 48px; 
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);

    }
    .promo__content {
        padding-left: 39px;
    }

    .promo__title {
        font-size: 44px;
        line-height: 53px;
    }
    .promo__heading {
        font-size: 24px;
        line-height: 29px;
    }
    .sale {
        gap: 20px;
        margin-bottom: 110px;
    }
    .sale__item_big {
        min-height: 116px;
    }
    .product-box__text {
        margin-bottom: 73px;
    }
    .product-box__content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
            
    }
    .btn {
        
        margin-bottom: 71px;
        margin-top: 32px; 
    }
   
}

@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 163px);
        padding-right: calc(50% - 163px);

    }
    .header__link-site {
        display: none;
    }
    .promo__img {
        display: none;
    }
    .promo__content {
        min-height: 363px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .promo__title {
        font-size: 38px;
        line-height: 46px;

    }
    .promo__heading {
        font-size: 20px;
        line-height: 24px;
    }
    .sale {
        gap: 32px;
        margin-bottom: 64px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sale__item_big {
        grid-column: span 1;
        min-height: 111px;
    }
    .sale__item_big img {
        min-height: 111px;
    }
    .product-box__text {
        margin-bottom: 65px;
    }
    .product-box__content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .btn {
        
        margin-bottom: 96px;
        margin-top: 41px; 
    }

    
}